[user]
	name = irenjj
	email = renj.jiang@gmail.com
[http]
	postBuffer = 50000000000
[http "https://github.com"]
	proxy = socks5://127.0.0.1:7890
[https "https://github.com"]
	proxy = socks5://127.0.0.1:7890
[core]
	excludesfile = ~/.gitignore_global
