layout {
    //pane name="" size=2 borderless=true {
    pane name="" size=1 {
        plugin location="zellij:compact-bar"
    }

    pane

    floating_panes {
        pane {
            x "0%"
            y "1%"
            width "100%"
            height "97%"
        }
    }
}
session_name "0"
attach_to_session true
copy-on-select true
mouse-mode true
