layout {
    pane name="" size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }

    pane

    floating_panes {
        pane {
            x 0
            y 2
            width 96
            height 15
        }

        pane {
            x 0
            y 17
            width 96
            height 37
        }

        pane {
            focus true
            x 96
            y 2
            width 120
            height 52
        }
    }
}
session_name "0"
attach_to_session true
copy-on-select true
