layout {
    //pane name="" size=2 borderless=true {
    pane name="" size=1 {
        plugin location="zellij:compact-bar"
    }

    pane

    floating_panes {
        pane {
            x "2%"
            y "2%"
            width "96%"
            height "94%"
        }
    }
}
session_name "0"
attach_to_session true
copy-on-select true
mouse-mode true
